html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, table, th, td { margin: 0; padding: 0; }
html, body { height: 100%; }
img { border: none; }
ul { list-style: none; }

.container {
    height: 100%;
}

.header {
    height: 250px;
    text-align: center;
    margin-bottom: 40px;
}

.header img {
    margin-bottom: 10px;
}

.header p {
    font-size: 18px;
    font-family: 'Allan';
}

#template {
    display: none;
}

.wrapper {
    background: #CFB590;
    height: 100%;
}

.main {
    width: 480px;
    margin: 0 auto;
    background: url(images/bg.jpg) repeat;
}
.white {
    background: #FFFFFF;
}

#url {
    width: 100%;
}

#footer {
    width: 480px;
    margin: 0 auto;
    padding: 10px 0;
    font-size: 10px;
    text-align: center;
    background: #F2F2F2;
    height: 40px;
}

.font-resize {
    font-size:140%;
}
