html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, table, th, td { margin: 0; padding: 0; }
html, body { height: 100%; }
img { border: none; }
ul { list-style: none; }

a {
    color: #176421;
    border-bottom: 1px dashed #CFB590;
}

a:hover {
    color: #176421;
    text-decoration: none;
}

.container {
    width: 540px;
    margin-top: 20px;
    background: url(images/bg.jpg) repeat;
    border-radius: 10px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header p {
    font-size: 24px;
    font-family: 'Allan';
    color: #564334;
}

#template {
    display: none;
}

.wrapper {
    background: #49281F;
    height: 100%;
}

#convert {
    background-color: #564334;
}

.main {
    margin: 0 auto;
}
.white {
    background: #FFFFFF;
}

#url {
    width: 100%;
}

.bottom {
    
}

.footer {
    padding: 10px 0;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    color: #564334;
}

.font-resize {
    font-size:140%;
}
