<!DOCTYPE HTML>
<html>
<head>
    <title>In A Nut.sh - Nutify your URLs</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="where squirrels go to shorten urls." />

    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/base.css" type="text/css" media="all" />
    {% block css %}{% endblock %}
</head>
<body class="wrapper">
    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>
    {% block js %}{% endblock %}
</body>
</html>
