
{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">
<link rel="stylesheet" href="~/ducking-dubstep/public/css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>
<h1>Shorten your URL</h1>
<div class = "container">
	<div class="row">
		<div class="col-lg-6 col-lg-offset-3">
	Enter your URL: <input type="text" id="inputURL" name="inputURL" width="300px">
	<button type="button">Convert!</button>
	<!--should be a spinner right here-->
	<ul>
	<li> <input type="text" id="shortURL1" name="shortURL1">
	<button type="button" id="copy1" name="copy1">Copy!</button>
	</li>
	<li> <input type="text" id="shortURL2" name="shortURL2">
	<button type="button" id="copy1" name="copy1">Copy!</button>
	</li>
	<li> <input type="text" id="shortURL3" name="shortURL3">
	<button type="button" id="copy1" name="copy1">Copy!</button>
	</li>
	</ul>
	<pre>
		<label id="URLDesc" name="URLDesc" text="this is url description"></label>
	</pre>
	</div>
	</div>
</div>
{% endblock %}
